html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: LuckiestGuy, serif;

    overflow: hidden;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 10px;
}

* {
    box-sizing: border-box;
}

#game-error {
    position: relative;
    z-index: 1111;
    align-items: center;
    justify-content: center;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

#error-message {
    position: absolute;

    top: 20px;
    padding: 10px;
    border-radius: 3px;

    background-color: rgba(255, 255, 255, 0.6);

    animation: fadeIn 2s ease-in forwards;
}

@font-face {
    font-family: LuckiestGuy;
    src: url(../assets/fonts/LuckiestGuy-Regular.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: JetBrainsMono;
    src: url(../assets/fonts/JetBrainsMono-Regular.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}