#scoreboard-table table {
    border-collapse: collapse;
    width: 100%;
    background: white;
    border-radius: 5px;
}

#scoreboard-table tr {
    border-bottom: 1px solid black;
    text-align: center;
}

#scoreboard-table th, #scoreboard td {
    padding: 10px;
}

#scoreboard-table td {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#scoreboard-table tr:hover {
    background-color: lightgray;
}

#scoreboard {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;

    position: fixed;
    z-index: 99;
    pointer-events: none;
    background: rgba(0,0,0,0.6);
}