#scoreboard-table table {
    border-collapse: collapse;
    width: 100%;
}

#scoreboard-table tr {
    border-bottom: 1px solid black;
    text-align: center;
}

#scoreboard-table th, #scoreboard td {
    padding: 10px;
}

#scoreboard-table td {
    border-left: 1px solid black;
    border-right: 1px solid black;
}

#scoreboard-table tr:hover {
    background-color: lightgray;
}