html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 10px;
}

* {
    box-sizing: border-box;
}

#controls {
    flex: 0 0 auto;
}

#playTable {
    flex: 1;
    position: relative;
    margin-bottom: 30px;
}

#hand {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-around;
}

playing-card {
    width: 100px;
    height: auto;
    padding: 10px;
}

.bid-buttons {
    border: none;
}

.player {
    text-align: center;
}

.player-name {
    padding: 0px;
}

.card-button {
    margin: 5px;
    border: none;
}

.card-button:hover {
    background-color: lightgray;
}